@font-face {
    font-family: 'PPFrama-Black';
    src: url('./fonts/PPFrama-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PPFrama-Black', sans-serif;
    margin: 0;

}

.header {
    font-family: 'PPFrama-Black', sans-serif;
    margin: 0;
    font-size: 100px;
    color: hotpink;
    line-height: 88px;
}

.Dani {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;  /* Add this */
    height: 200px; /* Add this */
}

.Dani img {
    width: 100%;      /* Make image fit container */
    height: 100%;     /* Make image fit container */
    object-fit: contain; /* Maintain aspect ratio */
    mix-blend-mode: screen; /* This can help hide white backgrounds */
}