@font-face {
    font-family: 'PPFrama-Black';
    src: url('./fonts/PPFrama-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PPFrama-Black', sans-serif;
    margin: 0;

}

.header {
font-family: 'PPFrama-Black', sans-serif; 
margin: 0; 
font-size: clamp(2rem, 10vw, 8rem); 
color: red; line-height: 10vw; 

position: fixed; 
bottom: 20px;
white-space: nowrap;
}

.whitebox {
  width: 100px;
  height: 100px;
  background-color: white;
  filter: blur(2px);
  opacity: 0.5;
  border-radius: 50%;

  transition: transform 0.3s ease;
  cursor: pointer;
}

.whitebox:hover {
  transform: scale(1.2);
}